<div *ngIf="countries.length === 0 else table" class="alert alert-warning text-center">
  No hay paises para mostrar.
</div>

<ng-template #table>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Continente</th>
        <th>Área</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <td>
          <img [src]="country.flags.svg" alt="Bandera de {{ country.name }}" class="img-thumbnail" style="width: 35px;">
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.region }}</td>
        <td>{{ country.area | number }} km²</td>
        <td>{{ country.population | number }}</td>
        <td><a [routerLink]="['/countries/by', country.cca3]">Info</a></td>
      </tr>
    </tbody>
  </table>

</ng-template>
